.feynman__link{ 
    position: absolute;
    top: 50%;
    right: 48px;
    padding: 0;
    line-height:51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
    transition: 0.5s;
}
  .feynman__link:hover{
      opacity: 0.5;
  }