.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:#f2f2f2;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 0;
  }