.two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
   }
   .two-columns__paragraph:nth-of-type(2n){
     margin-bottom: 30px;
     margin-top: 30px;
   }