.khan__buy-link{
    color: #2f80ed;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0.5s;
}
.khan__buy-link:hover{
    opacity: 0.5;
}